<div class="row footer">
  <div class="col-md-3">
    <address>
      <strong>{{ SITENAME }}</strong><br>
      {{ gettext('Street', DEFAULT_LANG) }}<br>
      {{ gettext('Kaohsiung, Taiwan', DEFAULT_LANG) }}<br>
    </address>
  </div>
  <div class="col-md-3">
    <address>
      <abbr title="Phone">{{ gettext('Tel', DEFAULT_LANG) }}:</abbr> (07) xxx-xxxx
    </address>
  </div>
  <div class="col-md-3">
    <address>
      <abbr title="Email">{{ gettext('Email', DEFAULT_LANG) }}:</abbr>
    </address>
  </div>
  <div class="col-md-3">Social Buttons</div>
</div>
