{%- from 'localize.html' import gettext -%}
<!DOCTYPE html xmlns:og="http://ogp.me/ns#">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="70AE8946B828F4D87BC146DD00304EC6" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/css/style.css">
  <title>{%- block title -%}{{ SITENAME }}{%- endblock title -%}</title>
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "41ce74ef-a6b0-422d-988d-a84b2a5b8d88", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
</head>
<body>

<div class="container-fluid">
  <div class="row dotted-buttom-line hidden-xs" style="height:106px;">
    <div class="col-md-2">
      <a href="{{ SITEURL }}/">
        <img src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/images/logo_m.png" class="img-responsive" alt="穠纖科技股份有限公司 Nung Sian Technology Ltd.">
      </a>
    </div>
    <div class="col-md-8">{% include 'tmp-name.html' %}</div>
    <~--<div class="col-md-3"><span class="text-orange"></span></div>-->
    <div class="col-md-2">{% include 'tmp-lang.html' %}</div>
  </div>

  <div class="row bg-orange hidden-xs">
    <ul class="nav nav-tabs nav-index">
      <li role="presentation"><a {% if page_name == "index" %}class="index-active"{% endif %} href="{{ SITEURL }}/">{{ gettext('Home', DEFAULT_LANG) }}</a></li>
      {%- for p in PAGES -%}
      <li role="presentation"><a {% if p == page %}class="index-active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="row visible-xs-block">
    <div class="mobile-nav-title">
	<img src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/images/logo_s.png" class="img-responsive" alt="穠纖科技股份有限公司 Nung Sian Technology Ltd.">
	<h3><a href="{{ SITEURL }}/">穠纖科技Nung Sian Tech. Ltd.</a></h3></div><!--
 --><div class="toggleable-window">
      <input type="checkbox" class="toggle" id="punch" checked>
      <label for="punch">&equiv;</label>
      <div>
        <a href="{{ SITEURL }}/">{{ gettext('Home', DEFAULT_LANG) }}</a>
        {%- for p in PAGES -%}
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        {%- endfor -%}
        <span><a href="/">English</a></span>
        <span><a href="/zh/">傳統中文</a></span>
      </div>
    </div>
  </div>

  {%- block content -%}{%- endblock -%}
  {%- include 'footer.html' -%}
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% if GOOGLE_ANALYTICS %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59291523-1', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
</html>
