{%- from 'localize.html' import gettext -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/css/style.css">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"><img src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}{{ TESTIMGPATH }}" class="img-responsive" alt="穠纖科技 Nung Sian Tech."></div>
    <div class="col-md-3"><div class="page-header"><h1>穠纖科技</h1><p>Nung Sian Tech.</p></div></div>
    <div class="col-md-3">Slogan</div>
    <div class="col-md-3">
      <a class="lang" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/">English</a>
      <br>
      <a class="lang" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/zh/">繁中</a>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{ SITEURL }}/">{{ gettext('Home', DEFAULT_LANG) }}</a></li>
      {% for p in PAGES %}
      <li role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">{% block content %}{% endblock %}</div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <address>
        <strong>{{ SITENAME }}</strong><br>
        Street(街道)<br>
        {{ gettext('Kaohsiung, Taiwan', DEFAULT_LANG) }}<br>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <abbr title="Phone">{{ gettext('Tel', DEFAULT_LANG) }}:</abbr> (07) xxx-xxxx
      </address>
    </div>
    <div class="col-md-4">Social Buttons</div>
  </div>

</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
