{% extends "layout.html" %}
{% block title -%}
  {{- page.title }} - {{ super() -}}
{%- endblock %}

{% block content %}
{%- from 'localize.html' import gettext -%}
<div class="container-fluid page-border">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3">{% include 'tmp-name.html' %}</div>
    <div class="col-md-3"></div>
    <div class="col-md-1">{% include 'tmp-lang.html' %}</div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs nav-page">
      {% for p in PAGES %}
      <li role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="row page-main">{{ page.content }}</div>
  {%- include 'footer.html' -%}
</div>
{% endblock %}
