{% extends "layout.html" %}
{% block title -%}
  {{- page.title }} - {{ super() -}}
{%- endblock %}

{% block content %}
<div class="row bg-green">
  <ul class="nav nav-tabs nav-index">
    <li role="presentation"><a href="{{ SITEURL }}/">{{ gettext('Home', DEFAULT_LANG) }}</a></li>
    {%- for p in PAGES -%}
    <li role="presentation"><a {% if p == page %}class="index-active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {%- endfor -%}
  </ul>
</div>

<div class="row">{{ page.content }}</div>
{% endblock %}
