/*
http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
http://stackoverflow.com/questions/16825042/how-to-create-slanted-tabs-with-a-border-in-css
http://css-tricks.com/tabs-with-round-out-borders/
*/
@import "ihover.css";

$font-stack: "微軟正黑體", "Microsoft JhengHei";
$primary-color-1: ForestGreen;
$primary-color-2: orange;
$primary-color-3: gray;
$primary-color-4: black;

html, body {
  font-family: $font-stack;
  color: $primary-color-1;
}

.title-cht { font-size: 4em; }
.title-eng { font-size: 2.5em; }

a.lang {
  color: $primary-color-1;
  &:hover { color: $primary-color-2; }
}

.text-orange { color: $primary-color-2; }
.bg-orange { background-color: $primary-color-2; }
.bg-green { background-color: $primary-color-1; }

.nav-index {
  border-top: 2px dotted $primary-color-3;
  border-bottom: 2px dotted white;
  text-align: center;

  > li {
    display:inline-block;
    float: none;

    > a {
      color: white;
      font-weight: bold;
    }

    > a:hover { color: $primary-color-4; }
    > a.index-active { color: $primary-color-4; }
  }
}

.footer {
  margin-top: 5px;
  font-weight: bold;
}
