/*
http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
http://stackoverflow.com/questions/16825042/how-to-create-slanted-tabs-with-a-border-in-css
http://css-tricks.com/tabs-with-round-out-borders/
*/

$font-stack: "微軟正黑體", "Microsoft JhengHei";
$primary-color-1: #24b6a1;
$primary-color-2: #f69802;
$primary-color-3: gray;
$dotted-line-width: 3px;

html, body {
  font-family: $font-stack;
  color: $primary-color-1;
}

.title-cht { font-size: 4em; }
.title-eng { font-size: 2.5em; }

a.lang {
  color: $primary-color-1;
  &:hover { color: $primary-color-2; }
}

.text-orange { color: $primary-color-2; }
.bg-orange { background-color: $primary-color-2; }
.bg-green { background-color: $primary-color-1; }

.dotted-buttom-line { border-bottom: $dotted-line-width dotted $primary-color-3; }

@mixin nav-index-basic($color1) {
  border-bottom: $dotted-line-width dotted white;
  text-align: center;

  > li {
    display:inline-block;
    float: none;

    > a {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    > a:hover { color: $color1; }
    > a.index-active { color: $color1; }
  }
}

.nav-index { @include nav-index-basic($primary-color-1); }

.footer {
  margin-top: 5px;
  font-weight: bold;
}

/* product items up and buttom space */
.product-item-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* image hover showing description */
@mixin transform($percent) {
  -webkit-transform: $percent;
     -moz-transform: $percent;
      -ms-transform: $percent;
          transform: $percent;
}

.thumbnail-show {
  display: inline;
  //text-align: center;
  position: absolute;
  transition: background 0.3s ease, padding 0.3s linear;
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.thumbnail-box {
  //display: inline-block !important;
  position: relative !important;
  overflow: hidden;

  a:hover { 
    .thumbnail-box-description {
      @extend .thumbnail-show
    }
  }
}

.thumbnail-box-description {
  display: none;

  div {
    position: relative;
    padding-left: 12px;
    //top: 15%;
    @include transform(-50%);
  }
}
/* end of image hover */

/* over-write bootstrap setting */
.carousel-control.left { background-image: none; }
.carousel-control.right { background-image: none; }


// change abbr default style
abbr[title="Phone"], abbr[title="Email"] {
  border-bottom: 0 dotted #777;
}

.product-header {
  color: white;
  font-size: 32px;
}
