/*
http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
http://stackoverflow.com/questions/16825042/how-to-create-slanted-tabs-with-a-border-in-css
http://css-tricks.com/tabs-with-round-out-borders/
*/

html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei";
  color: DarkCyan;
}

a.lang:hover {
  color: orange;
}

.bgorange {
  background-color: orange;
}

.nav-index {
  border-top: 2px dotted gray;
  border-bottom: 2px dotted white;
  text-align: center;
}

.nav-index>li {
  display:inline-block;
  float: none;
}

.nav-index>li>a {
  color: white;
  font-weight: bold;
}

.nav-index>li>a:hover {
  color: black;
}

.nav-index>li>a.indexactive {
  color: black;
}

.text-orange {
  color: orange;
}

.title-cht {
  font-size: 4em;
}
.title-eng {
  font-size: 2.5em;
}

.footer {
  margin-top: 5px;
  font-weight: bold;
}

.page-border {
  border-top: 20px solid DarkCyan;
  border-bottom: 20px solid DarkCyan;
  border-right: 25px solid DarkCyan;
  border-left: 25px solid DarkCyan;
}

.nav-page {
  border-top: 6px solid DarkCyan;
  text-align: center;
}

.nav-page>li {
  display:inline-block;
  float: none;
}

.nav-page>li>a {
  color: DarkCyan;
  font-weight: bold;
}

.nav-page>li>a:hover {
  color: orange;
}

.nav-page>li>a.text-orange {
  color: orange;
}

.page-main {
  border-top: 6px solid DarkCyan;
  border-bottom: 6px solid DarkCyan;
  padding: 5px;
}
