/*
http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
http://stackoverflow.com/questions/16825042/how-to-create-slanted-tabs-with-a-border-in-css
http://css-tricks.com/tabs-with-round-out-borders/
*/

html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei";
}

a.lang:hover {
  color: orange;
}

.bgorange {
  background-color: orange;
}

.nav {
  border-top: 2px dotted gray;
  border-bottom: 2px dotted white;
}

.nav-tabs {
    text-align: center;
}

.nav-tabs > li {
    display:inline-block;
    float: none;
}

.nav-tabs>li>a {
  color: white;
  font-weight: bold;
}

.nav-tabs>li>a:hover {
  color: black;
}

.nav-tabs>li>a.indexactive {
  color: black;
}
